section{
    position: relative;
    widows: 100%;
    min-height: 100vh;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.content
{
    position: relative;
    padding: 100px 50px 100px 150px;
    box-sizing: border-box;
}
 h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 800;
}
 p{
    color: #fff;
    font-size: 1.2em;
}
a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background: #ff2562;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.95ex;
    font-weight: 700;
    letter-spacing:2px ;
}

section .imgBx
{
    position: relative;
    padding-right: 100px;
}
section .imgBx img {
    max-width: 500px;

}
sci{
    position: absolute;
    bottom: 75px;
    left: 150px;
    display: flex;
    
}
sci li {
    list-style: none;
}
sci li a {
    text-decoration: none;
    color: #999;
    margin-right: 30px;
    font-size: 0.9em;
}
sci li a:hover{
    color: #fff;
}
nav{
    
}